.connect {
  background: #ffb72b;
  border-radius: 148px;
  width: 316px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.connected-button {
  height: 48px;
  cursor: pointer;
  width: 311px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
